<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <a class="text-muted text-hover-primary fw-bold me-2 fs-6">Copyright@ 2023 Web Enterprise</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <!--end::Menu-->
    </div>
    <!--end::Container-->
</div>