<a href="<%= path %>">
    <img alt="Logo" src="/img/admin.png" width="70px" height="70px" class="max-h-50px logo-default" />
    <!-- <img alt="Logo" src="/img/admin.png" width="70px" height="70px" class="max-h-50px logo-minimize" /> -->
</a>