<div class="row">
    <div class="col-12 col-md-6">
        <canvas id="bar-chart-manager" class="mh-400px"></canvas>
    </div>
    <div class="col-12 col-md-6">
        <canvas id="pie-chart-manager" class="mh-400px"></canvas>
    </div>
</div>
